@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html, body{
    height: 100%;
    width: 100%;
    font-family:'Times New Roman', Times, serif;
}
.button{
    padding:20px;
    width:66px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius:9px;
    cursor: pointer;

}
.row{
    margin: 8px 0;
    width: vw;
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.row input{
    width:291px;
    font-size: 20px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius:5px ;
}